body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: forestgreen;
	color: white;
}
header {
	background: lightgreen;
	padding: 15px;
	font-family: arial;
}
section {
	margin: 1%;
	font-family: verdana;
}